.card-width {
  width: clamp(25dvw, 48%, 50rem);
}

.project-card-container {
  width: 97%;
  min-height: calc(100dvh - 8rem);
  margin-top: 1rem;
  padding-left: 2.1rem;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;

  justify-self: center;
  align-self: self-start;
  grid-column: 2 / 4;
}

.code-card-image-container {
  width: 10rem;
  height: 10rem;
  padding: 1rem;
  line-height: 10rem;
}

.tags {
  max-width: 100%;
  width: max-content;
  max-height: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  align-self: self-start;
  flex-wrap: wrap;
  align-content: flex-start;

  scrollbar-width: thin;
  overflow-x: auto;
}

.status {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  transition: all 150ms ease-in-out;
}
.deployed {
  background-color: lightgreen;
  color: darkgreen;
}
.pending {
  background-color: orange;
  color: darkgoldenrod;
}
