.card-width {
  width: 32%;
  max-width: 50rem;
}

@media screen and (width <= 1630px) {
  .card-width {
    width: 48%;
    max-width: unset;
  }
}

@media screen and (width <= 1280px) {
  .card-width {
    width: 100%;
    max-width: unset;
  }
}

.project-card-container {
  width: 93%;
  min-height: calc(100dvh - 8rem);
  margin-top: 1rem;
  /* padding-left: 1.5rem; */

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: stretch;
  gap: 1.5rem;

  justify-self: center;
  align-self: self-start;
}

.code-card-image-container {
  width: 10rem;
  height: 10rem;
  padding: 1rem;
  line-height: 10rem;
}

.tags {
  max-width: 100%;
  width: max-content;
  max-height: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  align-self: self-start;
  flex-wrap: wrap;
  align-content: flex-start;

  scrollbar-width: thin;
  overflow-x: auto;
}

.status {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  transition: all 150ms var(--transition);
}
.deployed {
  background-color: #90ee90cf;
  color: darkgreen;
  box-shadow: 0 0 2px #90ee90;
}
.pending {
  background-color: orange;
  color: darkgoldenrod;
  box-shadow: 0 0 2px orange;
}
