.contact-link {
  padding: 0.5rem 0;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;

  flex-shrink: 4;
  transition: flex-shrink 300ms var(--transition);

  &:hover {
    flex-shrink: 1;

    .contact-image {
      transform: scale(1.8);
      font-size: 1.25rem;
    }
  }
}

.contact-image {
  height: auto;
  width: 2.5rem;
  transition: transform 300ms var(--transition), font-size 300ms var(--transition);
  transform-origin: center bottom;

  &.fallback {
    width: initial;

    /* path {
      transition: all 300ms var(--transition);
    } */
  }
}

.contact-card {
  --background-color: var(--primary);
  --text-color: var(--tertiary-container);
}

@keyframes hover-scale {
  from {
    width: initial;
  }
  to {
    width: 3rem;
  }
}
