.my-carousel-content {
  display: flex;
  align-items: center;
  justify-content: center;

  /* max-height: 100%; */
  max-width: 50%;
  height: auto;
  /* border-radius: 1rem; */
}

.rel {
  position: relative;
  top: initial;
  left: initial;
  right: initial;
  bottom: initial;
  translate: none;
}

.snap {
  scroll-snap-type: x normal;
}

.home-shadow {
  box-shadow: 0rem -0.25rem 1rem #00000060;
}

.title-font {
  font-size: clamp(7rem, calc(8dvw + 1rem), 12rem);
}

/* .view-button {
  background-color: var(--tertiary-container);
  color: var(--on-tertiary-container);
} */
.view-button {
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
}

#heroGradient {
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    #003152 0%,
    #074b72 20%,
    #2c638b 40%,
    #4f5681 60%,
    #714a78 80%,
    #603768 100%
  );
}
.dark #heroGradient {
  opacity: 0;
}
