.card {
  --background-color: inherit;
  --text-color: inherit;
  --tag-background: inherit;
  --tag-text: inherit;
  --image-color: inherit;
  --image-text: inherit;

  background-color: var(--background-color);
  color: var(--text-color);
  scrollbar-color: hsl(from var(--image-color) h s l / 0.9) transparent;
  .tag {
    background-color: var(--tag-background);
    color: var(--tag-text);
  }
  .image-cont {
    background-color: var(--image-color);
    color: var(--background-color);
  }

  padding: 1rem;
  &.text {
    padding: 0.75rem 1rem;
  }

  /* Colours */
  &.sky {
    --background-color: var(--primary-container);
    --text-color: var(--on-primary-container);
    --tag-background: var(--primary-fixed-dim);
    --tag-text: var(--on-primary-fixed);
    --image-color: #2c638b;
    --image-text: var(--primary-container);
  }
  &.pink {
    --background-color: var(--secondary-container);
    --text-color: var(--on-secondary-container);
    --tag-background: var(--secondary-fixed-dim);
    --tag-text: var(--on-secondary-fixed);
    --image-color: #794f81;
    --image-text: var(--secondary-container);
  }
  &.yellow {
    --background-color: var(--tertiary-container);
    --text-color: var(--on-tertiary-container);
    --tag-background: var(--tertiary-fixed-dim);
    --tag-text: var(--on-tertiary-fixed);
    --image-color: #79590c;
    --image-text: var(--tertiary-container);
  }
  &.blue {
    --background-color: var(--on-primary-container);
    --text-color: var(--primary-container);
    --tag-background: var(--primary-fixed-dim);
    --tag-text: var(--on-primary-fixed);
    --image-color: var(--primary-container);
    --image-text: var(--on-primary-container);
  }
  &.purple {
    --background-color: var(--on-secondary-container);
    --text-color: var(--secondary-container);
    --tag-background: var(--secondary-fixed-dim);
    --tag-text: var(--on-secondary-fixed);
    --image-color: var(--secondary-container);
    --image-text: var(--on-secondary-container);
  }
  &.gold {
    --background-color: var(--tertiary);
    --text-color: var(--tertiary-container);
    --tag-background: var(--tertiary-fixed-dim);
    --tag-text: var(--on-tertiary-fixed);
    --image-color: var(--tertiary-container);
    --image-text: var(--on-tertiary-container);
  }
  &.mono {
    --background-color: var(--surface-);
    --text-color: var(--on-background);
  }
}

/* dark mode changes that dont have bespoke variables */
.dark {
  .card.purple,
  .card.blue {
    --background-color: var(--tertiary);
  }
}

.in-grid {
  width: 80%;
  height: 88%;
  max-width: 80%;

  &.long {
    width: 90.1%;
    max-width: 90.1%;
  }

  &.full {
    width: 93%;
    max-width: 93%;
  }
}

.card-grid {
  width: 100%;
  height: 100%;

  display: grid;

  &.code {
    grid-template-areas:
      "image name"
      "image tags";
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 10rem calc(100% - 10rem);
    gap: 0.5rem 1rem;
    align-items: center;
    justify-items: start;
  }

  &.design {
    grid-template-areas:
      "image image image"
      "name name name"
      "date . .";
    grid-template-rows: 75% repeat(2, 1fr);
    row-gap: 0.75rem;
  }
}

.scroller {
  overflow: visible auto;
}

.card-image {
  object-position: center;
  height: 100%;
  width: auto;
}

@media screen and (width < 1000px) {
  .in-grid {
    width: 90% !important;
    max-width: unset !important;
  }
}
