.card {
	--background-color: inherit;
	--text-color: inherit;
	--tag-background: inherit;
	--tag-text: inherit;
	--image-color: inherit;
	--image-text: inherit;

	background-color: var(--background-color);
	color: var(--text-color);
	scrollbar-color: hsl(from var(--image-color) h s l / 0.75) transparent;
	.tag {
		background-color: var(--tag-background);
		color: var(--tag-text);
	}
	.code-card-image-container {
		background-color: var(--image-color);
		color: var(--background-color);
	}

	/* Colours */
	&.sky {
		--background-color: var(--primary-container);
		--text-color: var(--on-primary-container);
		--tag-background: var(--primary-fixed-dim);
		--tag-text: var(--on-primary-fixed);
		--image-color: var(--primary);
		--image-text: var(--primary-container);
	}
	&.pink {
		--background-color: var(--secondary-container);
		--text-color: var(--on-secondary-container);
		--tag-background: var(--secondary-fixed-dim);
		--tag-text: var(--on-secondary-fixed);
		--image-color: var(--secondary);
		--image-text: var(--secondary-container);
	}
	&.yellow {
		--background-color: var(--tertiary-container);
		--text-color: var(--on-tertiary-container);
		--tag-background: var(--tertiary-fixed-dim);
		--tag-text: var(--on-tertiary-fixed);
		--image-color: var(--tertiary);
		--image-text: var(--tertiary-container);
	}
	&.blue {
		--background-color: var(--on-primary-container);
		--text-color: var(--primary-container);
		--tag-background: var(--primary-fixed-dim);
		--tag-text: var(--on-primary-fixed);
		--image-color: var(--primary-container);
		--image-text: var(--primary);
		--scrollbar: var(--image-color) transparent transparent;
	}
	&.purple {
		--background-color: var(--on-secondary-container);
		--text-color: var(--secondary-container);
		--tag-background: var(--secondary-fixed-dim);
		--tag-text: var(--on-secondary-fixed);
		--image-color: var(--secondary-container);
		--image-text: var(--secondary);
		--scrollbar: var(--image-color) transparent transparent;
	}
	&.gold {
		--background-color: var(--on-tertiary-container);
		--text-color: var(--tertiary-container);
		--tag-background: var(--tertiary-fixed-dim);
		--tag-text: var(--on-tertiary-fixed);
		--image-color: var(--tertiary-container);
		--image-text: var(--tertiary);
		--scrollbar: var(--image-color) transparent transparent;
	}
	&.mono {
		--background-color: var(--on-primary);
		--text-color: var(--on-background);
		--scrollbar: var(--image-color) transparent transparent;
	}
}

.in-grid {
	width: 80%;
	height: 80%;
	max-width: 80%;

	&.long {
		width: 90.1%;
		max-width: 90.1%;
	}

	&.full {
		width: 93%;
		max-width: 93%;
	}
}

.card-grid {
	width: 100%;
	height: 100%;

	display: grid;

	&.code {
		grid-template-areas:
			"image name"
			"image tags";
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: 10rem calc(100% - 10rem);
		gap: 0.5rem 1rem;
		align-items: center;
		justify-items: start;
	}

	&.design {
		grid-template-areas:
			"image image image"
			"name name name"
			"bio bio bio";
		grid-template-rows: 3fr 1fr 1fr;
	}
}

.scroller {
	overflow: visible auto;

	/* Colors */
	&.background {
		scrollbar-color: var(--background) transparent;
	}
}
