.logo {
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);

  path {
    transition: inherit;
  }
  &:hover {
    path {
      fill: var(--primary-container) !important;
    }
  }
  &:active {
    path {
      filter: brightness(60%);
    }
  }
}

#footer > article {
  background-color: var(--primary);
}

.footer-button:hover {
  background-color: hsl(from var(--primary) h s calc(l + 12));
}
.dark .footer-button:hover {
  background-color: hsl(from var(--primary) h s calc(l - 12));
}
