.logo {
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);

  path {
    transition: inherit;
  }
  &:hover path {
    fill: hsl(from var(--hover) h s calc(l + 12) / 50%) !important;
  }
  &:active path {
    filter: brightness(60%);
  }
}

#footer {
  grid-template-areas: ". a";
}

#footer > article {
  background-color: var(--primary);
  --hover: hsl(from var(--primary-container) h s l / 25%);

  z-index: 100;
}

.footer-button:hover {
  background-color: var(--hover);
}

#footerTexts {
  font-weight: 300;
  font-size: 0.875rem;
  color: var(--tertiary-container);
}

.link {
  text-decoration: underline;
  text-underline-offset: 0.25em;

  &:hover {
    color: hsl(from var(--hover) h s calc(l + 12) / 50%);
  }
  &:active {
    filter: brightness(110%);
  }
}

@media screen and (width < 1000px) {
  #footer {
    grid-template-areas: "a";
    min-height: max-content;
    padding: 0;
    margin-bottom: clamp(5rem, calc(10dvh + 1rem), 25%);
  }
}
