.logo {
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);

  path {
    transition: inherit;
  }
  &:hover path {
    fill: hsl(from var(--hover) h s calc(l + 12) / 50%) !important;
  }
  &:active path {
    filter: brightness(60%);
  }
}

#footer > article {
  background-color: var(--primary);
  --hover: hsl(from var(--primary-container) h s l / 25%);
}

.footer-button:hover {
  background-color: var(--hover);
}

#footerTexts p {
  font-weight: 300;
  font-size: 0.875rem;
  color: var(--tertiary-container);

  &.link:hover {
    color: hsl(from var(--hover) h s calc(l + 12) / 50%);
  }
}
