.grid {
  width: 100dvw;
  height: 100dvh;

  display: grid;
  justify-items: center;
  align-items: center;
  gap: 0.5rem 0;

  &:not(.hero) {
    padding: 1rem 1rem 1rem 0;
  }

  &.two-two {
    grid-template-areas:
      ". a b"
      ". c d";
    grid-template-columns: 10rem repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    &.with-header {
      grid-template-rows: 8rem 1fr;

      &.design {
        min-height: 100dvh;
        height: fit-content;
        grid-template-areas:
          ". . ."
          ". images images"
          ". bio bio"
          ". procon procon";
        grid-template-rows: 8rem 4fr 1fr 1fr;
        row-gap: 2rem;
        margin-bottom: 1rem;
      }
      &.contact {
        grid-template-areas: ". a b" ". text text" ". contacts contacts";
        grid-template-rows: 8rem repeat(2, 1fr);
        /* margin-bottom: 1rem; */
      }
    }
  }

  &.three-two {
    grid-template-areas:
      ". a b c"
      ". d e f";
    grid-template-columns: 10rem repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  &.row {
    height: 50dvh;
    grid-template-areas: ". a b c";
    grid-template-columns: 10rem 1fr;
  }

  &.two-n {
    grid-template-rows: repeat(auto-fill, 20dvh);
    grid-template-columns: repeat(2, 1fr);
  }

  &.pageless.one-two {
    height: unset;
    width: unset;
    grid-template-rows: repeat(2, fit-content(2rem));
    grid-template-columns: repeat(auto-fill, 10rem);
  }

  &.grows {
    min-height: 100dvh;
    height: fit-content;
  }
}

.carousel-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

@media only screen and (width < 1000px) {
  .grid {
    grid-template-columns: 100dvw !important;
    row-gap: 1rem;

    &:not(.hero) {
      padding: 2rem 0;
      height: fit-content;
      min-height: 100dvh;
      /* max-height: 150dvh; */
    }

    &.two-two {
      grid-template-areas:
        "a"
        "b"
        "c"
        "d";

      grid-template-rows: repeat(4, 1fr);

      &.with-header {
        &.design {
          min-height: 100dvh;
          height: fit-content;
          grid-template-areas:
            "images"
            "bio"
            "procon";
          grid-template-rows: 4fr 1fr 1fr;
          row-gap: 2rem;
          margin-bottom: 1rem;
        }
        &.contact {
          grid-template-areas:
            "a"
            "text"
            "contacts";
          grid-template-rows: repeat(2, 1fr);
          /* margin-bottom: 1rem; */
        }
      }
    }

    &.three-two {
      grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "e";
      grid-template-rows: repeat(5, 1fr);

      &#about {
        grid-template-areas:
          "a"
          "b"
          "c"
          "d";
        grid-template-rows: repeat(3, max-content) 1fr;
      }

      &#background {
        grid-template-rows: 1fr repeat(4, fit-content(20%));
      }
    }

    &.row {
      height: 50dvh;
      grid-template-areas:
        "a"
        "b"
        "c";
    }

    &.two-n {
      grid-template-rows: repeat(auto-fill, 20dvh);
    }

    &.pageless.one-two {
      height: unset;
      width: unset;
      grid-template-rows: repeat(2, fit-content(2rem));
    }
  }
}
