.dev {
  --bg: var(--primary-container);
  --text: #2c638b;
}

.design {
  --bg: var(--secondary-container);
  --text: #794f81;
}

.search-y-sort {
  background-color: var(--bg);
  color: var(--text);
  transition: filter 150ms var(--transition), scale, 150ms var(--transition);

  &::placeholder {
    color: hsl(from var(--text) h s l / 75%);
  }

  &:hover {
    scale: 1.1;
    /* filter: brightness(104%); */
  }
  &:active {
    scale: 0.95;
    filter: brightness(90%);
  }

  &:focus-visible:hover {
    outline: none;
  }
}

.sort-icon {
  fill: var(--text);
}
.sort-icon-parent {
  height: 1.5rem !important;
  path {
    fill: var(--text);
  }
}

.header-label {
  color: var(--project-type-colour);
  border-color: var(--project-type-colour);

  &.dev {
    --project-type-colour: var(--primary-set);
  }
  &.des {
    --project-type-colour: var(--secondary-set);
  }
}

@media screen and (width <= 1050px) {
  .search-y-sort {
    &:hover {
      scale: 1.05;
    }
    &:active {
      scale: 0.99;
    }
  }
}
