.navbar {
  transition: width 200ms var(--transition);
}

/* page icons */
.nav-link {
  height: 4rem;
  row-gap: 0.25rem;

  p {
    font-size: 0.9rem;
  }
}

.active {
  color: var(--tertiary-container);
  path {
    fill: var(--tertiary-container);
  }
}

.nav-toggle:focus {
  outline: initial;
}

/* all icons */
#themeChanger,
.nav-link {
  min-height: fit-content;
  width: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    transition: all 50ms var(--transition);
    text-align: center;
    max-height: 0.75rem;
    user-select: none;

    &.open {
      transition: all 150ms var(--transition) 200ms;
    }

    &.closed {
      pointer-events: none;
      color: transparent;
      /* display: none; */
    }
  }
}

/* all items */
.nav-link,
#themeChanger,
.nav-toggle {
  transition: scale 200ms var(--transition), filter 150ms var(--transition);
  .nav-icon,
  &.nav-icon {
    transition: inherit;
  }
  &:hover {
    .nav-icon,
    &.nav-icon {
      scale: 1.2;
    }
  }
  &:active {
    filter: brightness(80%);
    .nav-icon,
    &.nav-icon {
      scale: 1;
    }
  }
}

.mobile-navbar {
  height: clamp(5rem, calc(10dvh + 1rem), 25%);
}

/* .mobile-nav-link > svg {
  height: 60%;
} */

.nav-icon {
  max-height: 2.5rem;
  min-height: 2rem;
  width: auto;
}

.dark {
  .navbar,
  .mobile-navbar {
    border: 1px solid hsl(from white h s l / 8%);
  }
  .navbar {
    border-width: 1px 1px 1px 0px;
  }
}
