.skill-name {
  translate: 0% -75%;
  padding: 0.25rem 0.75rem;
  min-width: 4rem;
  text-align: center;

  background-color: var(--tertiary);
  color: var(--tertiary-container);
  font-weight: 300;

  /* &:is(.dark .skill-name) {
    background-color: hsl(from var(--tertiary) h s calc(l + 4));
  } */
}

.skill {
  --parent-colour: var(--on-secondary-container);
  background-color: hsl(from var(--parent-colour) h s calc(l + 1));
}
.dark .skill {
  background-color: var(--tertiary);
}
