:root {
	min-height: 100dvh;
	height: fit-content;
	width: 100dvw;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	font-size: 16px;

	background-color: var(--background);
	color: var(--on-background);

	overflow-x: hidden;
	scroll-behavior: smooth;
	scrollbar-color: var(--tertiary-container) var(--primary);
}

.trans {
	translate: -50% -50%;
}

.hide-scrollbar {
	scrollbar-color: transparent transparent;
	scrollbar-width: thin;
}
