:root {
  min-height: 100dvh;
  height: fit-content;
  width: 100dvw;

  font-size: 16px;

  background-color: var(--sys-theme);
  color: var(--inverse-sys-theme);

  overflow-x: hidden !important;
  scroll-behavior: smooth;
  scrollbar-color: var(--tertiary-container) var(--primary);

  /* &,
  * {
    transition-property: color, background-color, border-color, outline-color, text-decoration-color,
      fill, stroke, opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 150ms;
  } */

  #root *:focus-visible {
    outline: 4px solid #3fb1f3;
    border-radius: calc(1rem - 4px);
  }
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

main {
  min-height: fit-content;
}

.trans {
  translate: -50% -50%;
}

.hide-scrollbar {
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
}

.center.two-rows {
  grid-area: a / a-start / d-start / d-end;
  align-self: center;
  justify-self: center;
}

@media screen and (width < 1000px) {
  :root {
    font-size: 14px;
  }
}
