:root {
  min-height: 100dvh;
  height: fit-content;
  width: 100dvw;

  font-size: 16px;

  background-color: var(--sys-theme);
  color: var(--inverse-sys-theme);

  overflow-x: hidden !important;
  scroll-behavior: smooth;
  scrollbar-color: var(--tertiary-container) var(--primary);

  #root *:focus-visible {
    outline: 4px solid #3fb1f3;
    border-radius: calc(1rem - 4px);
  }
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

main {
  min-height: fit-content;
}

.trans {
  translate: -50% -50%;
}

.hide-scrollbar {
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
}

.hover-active {
  &:hover {
    filter: brightness(115%);
    scale: 1.1;
  }
  &:active {
    filter: brightness(90%);
    scale: 0.95;
  }
}

.dark-border:is(.dark *) {
  border: 1px solid #ffffff0f;
}

@media screen and (width < 1000px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (width < 768px) {
  :root {
    font-size: 12px;
  }
}
