@import "./Themes.css";
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-pri: var(--primary);
	--color-surf-tint: var(--surface-tint);
	--color-on-pri: var(--on-primary);
	--color-pri-cont: var(--primary-container);
	--color-on-pri-cont: var(--on-primary-container);
	--color-sec: var(--secondary);
	--color-on-sec: var(--on-secondary);
	--color-sec-cont: var(--secondary-container);
	--color-on-sec-cont: var(--on-secondary-container);
	--color-ter: var(--tertiary);
	--color-on-ter: var(--on-tertiary);
	--color-ter-cont: var(--tertiary-container);
	--color-on-ter-cont: var(--on-tertiary-container);
	--color-err: var(--error);
	--color-on-err: var(--on-error);
	--color-err-cont: var(--error-container);
	--color-on-err-cont: var(--on-error-container);
	--color-bg: var(--background);
	--color-on-bg: var(--on-background);
	--color-surf: var(--surface);
	--color-on-surf: var(--on-surface);
	--color-surf-var: var(--surface-variant);
	--color-on-surf-var: var(--on-surface-variant);
	--color-outl: var(--outline);
	--color-outl-var: var(--outline-variant);
	--color-shad: var(--shadow);
	--color-scrim: var(--scrim);
	--color-inv-surf: var(--inverse-surface);
	--color-inv-on-surf: var(--inverse-on-surface);
	--color-inv-pri: var(--inverse-primary);
	--color-pri-f: var(--primary-fixed);
	--color-on-pri-f: var(--on-primary-fixed);
	--color-pri-f-d: var(--primary-fixed-dim);
	--color-on-pri-f-var: var(--on-primary-fixed-variant);
	--color-sec-f: var(--secondary-fixed);
	--color-on-sec-f: var(--on-secondary-fixed);
	--color-sec-f-d: var(--secondary-fixed-dim);
	--color-on-sec-f-var: var(--on-secondary-fixed-variant);
	--color-ter-f: var(--tertiary-fixed);
	--color-on-ter-f: var(--on-tertiary-fixed);
	--color-ter-f-d: var(--tertiary-fixed-dim);
	--color-on-ter-f-var: var(--on-tertiary-fixed-variant);
	--color-surf-d: var(--surface-dim);
	--color-surf-br: var(--surface-bright);
	--color-surf-cont-ll: var(--surface-container-lowest);
	--color-surf-cont-l: var(--surface-container-low);
	--color-surf-cont: var(--surface-container);
	--color-surf-cont-h: var(--surface-container-high);
	--color-surf-cont-hh: var(--surface-container-highest);
	--shadow-i: var(--shadow-one);
	--shadow-ii: var(--shadow-two);
	--shadow-iii: var(--shadow-three);
	--shadow-iv: var(--shadow-four);
	--shadow-v: var(--shadow-five);
	--text-shadow-i: var(--text-shadow-one);
	--text-shadow-ii: var(--text-shadow-two);
	--text-shadow-iii: var(--text-shadow-three);
	--text-shadow-iv: var(--text-shadow-four);
	--text-shadow-v: var(--text-shadow-five);

	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--color-foreground: var(--foreground);
	--color-background: var(--background);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-bg text-on-bg;
	}
}

.inner-shadow-i {
	box-shadow: inset var(--shadow-one);
}
