@import "./Themes.css";
@import "tailwindcss";

@theme inline {
  --color-pri: var(--primary);
  --color-surf-tint: var(--surface-tint);
  --color-on-pri: var(--on-primary);
  --color-pri-cont: var(--primary-container);
  --color-on-pri-cont: var(--on-primary-container);
  --color-sec: var(--secondary);
  --color-on-sec: var(--on-secondary);
  --color-sec-cont: var(--secondary-container);
  --color-on-sec-cont: var(--on-secondary-container);
  --color-ter: var(--tertiary);
  --color-on-ter: var(--on-tertiary);
  --color-ter-cont: var(--tertiary-container);
  --color-on-ter-cont: var(--on-tertiary-container);
  --color-err: var(--error);
  --color-on-err: var(--on-error);
  --color-err-cont: var(--error-container);
  --color-on-err-cont: var(--on-error-container);
  --color-bg: var(--background);
  --color-on-bg: var(--on-background);
  --color-surf: var(--surface);
  --color-on-surf: var(--on-surface);
  --color-surf-var: var(--surface-variant);
  --color-on-surf-var: var(--on-surface-variant);
  --color-outl: var(--outline);
  --color-outl-var: var(--outline-variant);
  --color-shad: var(--shadow);
  --color-scrim: var(--scrim);
  --color-inv-surf: var(--inverse-surface);
  --color-inv-on-surf: var(--inverse-on-surface);
  --color-inv-pri: var(--inverse-primary);
  --color-pri-f: var(--primary-fixed);
  --color-on-pri-f: var(--on-primary-fixed);
  --color-pri-f-d: var(--primary-fixed-dim);
  --color-on-pri-f-var: var(--on-primary-fixed-variant);
  --color-sec-f: var(--secondary-fixed);
  --color-on-sec-f: var(--on-secondary-fixed);
  --color-sec-f-d: var(--secondary-fixed-dim);
  --color-on-sec-f-var: var(--on-secondary-fixed-variant);
  --color-ter-f: var(--tertiary-fixed);
  --color-on-ter-f: var(--on-tertiary-fixed);
  --color-ter-f-d: var(--tertiary-fixed-dim);
  --color-on-ter-f-var: var(--on-tertiary-fixed-variant);
  --color-surf-d: var(--surface-dim);
  --color-surf-br: var(--surface-bright);
  --color-surf-cont-ll: var(--surface-container-lowest);
  --color-surf-cont-l: var(--surface-container-low);
  --color-surf-cont: var(--surface-container);
  --color-surf-cont-h: var(--surface-container-high);
  --color-surf-cont-hh: var(--surface-container-highest);
  --shadow-i: var(--shadow-one);
  --shadow-ii: var(--shadow-two);
  --shadow-iii: var(--shadow-three);
  --shadow-iv: var(--shadow-four);
  --shadow-v: var(--shadow-five);
}
