@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Orbit&display=swap");

.orbit {
  font-family: "Orbit", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* font-weight: 400; */
  font-style: normal;
}

.jb-mono {
  font-family: "JetBrains Mono", "Brass Mono", monospace;
  font-optical-sizing: auto;
  /* font-weight: 400; */
  font-style: normal;
}

:root {
  /* system theme aka off-white / dark grey => #EFF5F6 / #171d1e */
  --sys-theme: #eff5f6;
  --inverse-sys-theme: #171d1e;

  /* hard values */
  --light: #eff5f6;
  --dark: #171d1e;

  --primary: #2c638b;
  --primary-set: var(--primary); /* 'main' in light mode, 'container' in dark mode */
  --primary-container: #cce5ff;
  --on-primary-container: #074b72;
  --inverse-primary: #99ccfa;
  --primary-fixed: #cce5ff;
  --on-primary-fixed: #001d31;
  --primary-fixed-dim: #99ccfa;
  --on-primary-fixed-variant: #074b72;

  --secondary: #794f82;
  --secondary-set: var(--secondary);
  --secondary-container: #fdd6ff;
  --on-secondary-container: #5f3768;
  --secondary-fixed: #fdd6ff;
  --on-secondary-fixed: #300a39;
  --secondary-fixed-dim: #e9b5ef;
  --on-secondary-fixed-variant: #603768;

  --tertiary: #79590c;
  --tertiary-set: var(--tertiary);
  --tertiary-container: #ffdea4;
  --on-tertiary-container: #5d4200;
  --tertiary-fixed: #ffdea4;
  --on-tertiary-fixed: #261900;
  --tertiary-fixed-dim: #ecc06c;
  --on-tertiary-fixed-variant: #5d4200;

  --error: #ba1a1a;
  --error-container: #ffdad6;
  --on-error-container: #93000a;

  --background: var(--sys-theme);
  --on-background: var(--inverse-sys-theme);
  --outline: #6f797b;
  --outline-variant: #bfc8ca;
  --shadow: #000000;
  --scrim: #000000;

  --surface: #f5fafb;
  --on-surface: #171d1e;
  --surface-variant: #dbe4e6;
  --on-surface-variant: #3f484a;
  --surface-dim: #d5dbdc;
  --surface-bright: #f5fafb;
  --surface-container-lowest: #ffffff;
  --surface-container-low: #eff5f6;
  --surface-container: #e9eff0;
  --surface-container-high: #e3e9ea;
  --surface-container-highest: #dee3e4;
  --inverse-surface: #2b3132;
  --inverse-on-surface: #ecf2f3;

  --shadow-half: 0px 1px 2px rgba(0, 0, 0, 0.15), 0px 1px 3px 1px rgba(0, 0, 0, 0.075);
  --shadow-one: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --shadow-two: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --shadow-three: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
  --shadow-four: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3);
  --shadow-five: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);

  --text-shadow-one: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px rgba(0, 0, 0, 0.15);
  --text-shadow-two: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px rgba(0, 0, 0, 0.15);
  --text-shadow-three: 0px 4px 8px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
  --text-shadow-four: 0px 6px 10px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3);
  --text-shadow-five: 0px 8px 12px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);

  /* matches tailwind */
  --transition: cubic-bezier(0.4, 0, 0.2, 1);

  /* Shadcn */
  --radius: 0.625rem;

  --foreground: var(--inverse-sys-theme);
  --card-foreground: var(--inverse-sys-theme);
  --popover-foreground: var(--inverse-sys-theme);
  --secondary-foreground: var(--inverse-sys-theme);
  --accent-foreground: var(--sys-theme);
  --accent: hsl(from var(--accent-foreground) h s calc(l - 6));
  --sidebar: var(--inverse-sys-theme);
  --sidebar-primary: var(--inverse-sys-theme);
  --sidebar-accent-foreground: var(--inverse-sys-theme);

  --card: var(--sys-theme);
  --popover: var(--sys-theme);
  --primary-foreground: var(--sys-theme);
  --muted: var(--sys-theme);
  --sidebar-foreground: var(--sys-theme);
  --sidebar-primary-foreground: var(--sys-theme);

  --muted-foreground: #737373;
  --destructive: #976f4c;
  --border: #e4e4e4;
  --input: #e4e4e4;
  --ring: #9f9f9f;

  --chart-1: #ab8552;
  --chart-2: #728386;
  --chart-3: #3f495a;
  --chart-4: #d7c47b;
  --chart-5: #c9b06e;

  --sidebar-accent: #fafafa;
  --sidebar-border: #e4e4e4;
  --sidebar-ring: #9f9f9f;
}

.dark {
  --sys-theme: #171d1e;
  --inverse-sys-theme: #eff5f6;

  --primary: #0e1415;
  --primary-set: var(--primary-container);
  --inverse-primary: #2c638b;
  --on-primary-fixed-variant: #090f10;

  --secondary: #1b2122;
  --secondary-set: var(--secondary-container);
  --on-secondary-fixed-variant: #252b2c;

  --tertiary: #2b3132;
  --tertiary-set: var(--tertiary-container);
  --on-tertiary-fixed-variant: #5d4200;

  --error-container: #93000a;
  --on-error-container: #ffdad6;

  --outline: #899294;
  --outline-variant: #3f484a;

  --surface: #0e1415;
  --on-surface: #dee3e4;
  --surface-variant: #3f484a;
  --on-surface-variant: #bfc8ca;
  --surface-dim: #0e1415;
  --surface-bright: #343a3b;
  --surface-container-lowest: #090f10;
  --surface-container-low: #171d1e;
  --surface-container: #1b2122;
  --surface-container-high: #252b2c;
  --surface-container-highest: #303637;
  --inverse-surface: #dee3e4;
  --inverse-on-surface: #2b3132;

  /* Shadcn */

  --muted-foreground: #9f9f9f;
  --destructive: #b89880;
  --border: #ffffff1a;
  --input: #ffffff26;
  --ring: #737373;
  --accent: hsl(from var(--accent-foreground) h s calc(l + 6));

  --chart-1: #4f65be;
  --chart-2: #8ea28f;
  --chart-3: #c9b06e;
  --chart-4: #8c88dd;
  --chart-5: #af856c;

  --sidebar-primary: #4f65be;
  --sidebar-accent: #262626;
  --sidebar-border: #ffffff1a;
  --sidebar-ring: #737373;
}
